
.row{
    margin:0;
}
.col-sm-12,.col-md-12,.col-lg-12,.col-xs-12{
    padding:0px;
}
.col-sm-3{
    padding-left:1px;
    padding-right:1px;
}
.btn{
    margin:1px 0px;
}
.navbar{
    margin-bottom:0;
}
.pagination>li>a, .pagination>li>span{
    margin-left: -30px;
}
.header-height{
    height:70px;
    background-color: #000;
    width:100%;
    overflow: hidden;
}

.up-top{
    margin-top:15%;
}
.navbar-nav>li>a:hover{
    color:#00ffff;
}
.nav-header{
    float: left;
    font-size:34px;
    color:#00ffff;
}
li{
    float: left;
    font-size:20px;
    line-height: 50px;
    margin-left:30px;
    list-style: none;
    color:#fff;
}
.see{
    color:red;
}
.navbar-inverse{
    background-color:#000;
}
@media(max-width: 1200px) {
    .navbar-form{
        display: none;
    }
}
@media(max-width: 767px) {
    .navbar-form{
        display: none;
    }
    .nav-header{
        margin-left:30px;
    }
}
@media (min-width: 768px){
    .navbar-right {
        margin-right: -32px;
    }
}

.flexslider {
    margin: 0px auto 20px;
    position: relative;
    width: 100%;
    height: 482px;
    overflow: hidden;
    zoom: 1;
}

.flexslider .slides li {
    width: 100%;
    height: 100%;
}

.flex-direction-nav a {
    width: 70px;
    height: 70px;
    line-height: 99em;
    overflow: hidden;
    margin: -35px 0 0;
    display: block;
    background: url(../img/ad_ctr.png) no-repeat;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease;
    border-radius: 35px;
}

.flex-direction-nav .flex-next {
    background-position: 0 -70px;
    right: 0;
}

.flex-direction-nav .flex-prev {
    left: 0;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align:center;
}

.flex-control-nav li {
    margin: 0 2px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    background: url(../img/dot.png) no-repeat 0 -16px;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -99em;
    width: 16px;
    cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
    background-position: 0 0;
}

.flexslider .slides a img {
    width: 100%;
    height: 482px;
    display: block;
}
.dropdown-menu > li{
    width:100%;
    margin-left:0;
}
i{
    width:40px;
    text-align:center;
}
.a-link{
    font-size: 12px;
    color: #8e8e8e;
}
.a-link:hover{
    cursor: pointer;
    color: #8e8e8e;
}
.a-ul{
    margin-top: 50px;
}
.a-li{
    width:100%;
    line-height: 25px;
    margin-left: 0;
}
